{% extends 'base.html' %}
{% load sbclc_filter %}
{% block content %}
<div class="left" id="left" style="overflow:scroll;">
    <div class="container my-3">
        <b>생성된 노선 - 약 {{ distance }}km</b>
            <button style="float:right;" class="btn btn-outline-secondary" type="button" onclick="location.href='/newcong'" >혼잡도 예측</button>
        </div>
        <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>순서</th>
            <th>ARS-ID</th>
            <th>정류장이름</th>
        </tr>
        </thead>
        <tbody>
        {% if stop_list %}
        {% for stop in stop_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ stop.ars }}</td>
            <td>
                <a data-toggle="modal" href="#myModal{{stop.ars}}" style="color:black"><b>{{ stop.name }}</b></a>
                    <div class="modal fade" id="myModal{{stop.ars}}" role="dialog">
                        <div class="modal-dialog modal-xl">
                            <!-- Modal content -->
                            <div class="modal-content modal-xl">
                                <div class="modal-header">
                                    <h5 class="modal-title">정류장 혼잡도</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe src="{% url 'sbclc:stopdetail' stop.ars %}"></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">정류장이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>
</div>
<div class="right" id="right">
    {{ m | safe }}
</div>

<script type='text/javascript'>

</script>
{% endblock %}