{% extends 'base.html' %}
{% load sbclc_filter %}
{% block content %}


<center>
    <h3><br><br><b>새로운 노선 생성하기</b><br></h3>
    <div style="padding:20px">
        혼잡도를 줄일 수 있는 새로운 노선을 생성합니다.
    </div>
    <form class="form1" id="searchForm" method="get"  action="{% url 'sbclc:confirm' %}" >
        <div style="padding:15px">
            시작구 선택
            <select name="gu">
                <option value="none" disabled="true">-- 구 선택 --</option>
                <option value="강남구">강남구</option>
                <option value="강동구">강동구</option>
                <option value="강북구">강북구</option>
                <option value="강서구">강서구</option>
                <option value="관악구">관악구</option>
                <option value="광진구">광진구</option>
                <option value="구로구">구로구</option>
                <option value="금천구">금천구</option>
                <option value="노원구">노원구</option>
                <option value="도봉구">도봉구</option>
                <option value="마포구">마포구</option>
                <option value="서초구">서초구</option>
                <option value="성북구">성북구</option>
                <option value="송파구">송파구</option>
                <option value="양천구">양천구</option>
                <option value="은평구">은평구</option>
                <option value="중랑구">중랑구</option>
            </select>
        </div>
        <div style="padding:15px">
            노선 길이(km)
            <input type="number" min='40' max='60' id="distance" name="distance" value="40"
                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
        </div><br>
        <button class="b1" type="submit"><b>생성하기</b></button>
    </form>
</center>

{% endblock %}